body {
  background-color: pink;
  margin: 0;
}

html {scroll-behavior: smooth;}

.barrafixa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #da2b4e;
  color: black;
  padding: 1px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h1 {color: black;}
  a {text-decoration: none; color: black; font-size: 40px;}
}

main {
  margin-top: 170px;
  margin-bottom: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  color: rgb(24, 24, 24);
  line-height: 1.5;
  text-align: justify;
  font-size: 30px;
  font-family: Arial;
}


h1 {
  color: black;
  text-align: center;
  font-size: 60px;
}

li {
  color: black;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  background: pink;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
  height: 80px;
  text-align: center;
}
button:hover {
  background: rgb(245, 33, 33);
  transform: scale(1.1);
  transition: 0.3s;
}

.fotos {
  display: flex;
  justify-content: center;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: blue;
  font-size: 30px;
  text-align: center;
}

.rodape {
  background: #3a5a79;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  p {color: whitesmoke; font-size: 22px; text-align: center;}
}
